* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  color: #C5C6C7;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html h1 {
  font-size: 3em;
}
html h2 {
  font-size: 2em;
  color: #66FCF1;
  margin: 4em 0 3em 0;
}
html h3 {
  font-size: 1.5em;
  color: #45A29E;
}
html a,
html p,
html span {
  font-size: 1.4em;
}
html button,
html input,
html textarea {
  font-size: 1.3em;
}
html ul {
  list-style-type: none;
}
html body {
  background-color: #0B0C10;
}
html body .grid {
  display: grid;
  grid-gap: 15px;
}
html body .oneColumn {
  grid-template-columns: 1fr;
}
html body .twoColumns {
  grid-template-columns: repeat(2, 1fr);
}
html body .threeColumns {
  grid-template-columns: repeat(3, 1fr);
}
html body header {
  display: flex;
  position: fixed;
  background-color: #1F2833;
  align-items: center;
  min-height: 50px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 8px;
  width: 98%;
  z-index: 1;
  left: 1%;
  top: 1%;
}
html body header nav {
  justify-content: center;
  align-items: center;
}
html body header nav a {
  margin: 0.8em;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
html body header nav ul {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-self: center;
}
html body header nav ul a {
  margin: 0 0.8em 0 0.8em;
  white-space: nowrap;
  padding: 0.7em 0.8em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
}
html body header nav ul a:hover {
  background-color: #0B0C10;
}
html body div {
  display: flex;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
}
html body .sectionContainer {
  width: 60%;
}
html body .sectionContainer div {
  width: 100%;
}
html body .sectionContainer .section {
  margin-bottom: 70px;
}
html body .sectionContainer .title {
  margin-top: 80px;
  justify-content: space-between;
  align-items: flex-end;
}
html body .sectionContainer .title img {
  width: 300px;
  background-blend-mode: overlay;
}
html body .sectionContainer .title h1 {
  margin-bottom: 1.5em;
}
html body .sectionContainer .abilities div .item, html body .sectionContainer .about div .item {
  height: 150px;
  border-radius: 5px;
  background-color: #1F2833;
  align-items: center;
  justify-content: center;
}
html body .sectionContainer .abilities div .item h3, html body .sectionContainer .about div .item h3 {
  margin: 0 2em;
}
html body .sectionContainer .about div .item img {
  fill: #45A29E;
  width: 40px;
  margin-bottom: 15px;
}
html body .sectionContainer .about span {
  font-size: 1.3em nm;
  margin-top: 0.5em;
}
html body .sectionContainer .about p {
  margin-top: 3em;
}
html body .sectionContainer .portfolio img {
  width: 100%;
  border-radius: 5px;
}
html body .sectionContainer .portfolio .item {
  padding: 5px 0 20px 10px;
}
html body .sectionContainer .portfolio .item h3 {
  margin: 0.5em 0 2em 0;
}
html body .sectionContainer .portfolio .item p {
  padding-right: 2.5em;
}
html body .sectionContainer .contact div {
  margin-bottom: 10px;
}
html body .sectionContainer .contact textarea, html body .sectionContainer .contact input {
  background-color: #1F2833;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
html body .sectionContainer .contact input {
  width: 96%;
  height: 35px;
}
html body .sectionContainer .contact textarea {
  resize: none;
  width: 98%;
  height: 200px;
}
html body .sectionContainer .contact input:focus,
html body .sectionContainer .contact textarea:focus,
html body .sectionContainer .contact button:focus {
  outline: none;
}
html body .sectionContainer .contact button {
  background-color: #45A29E;
  border: none;
  height: 40px;
  width: 180px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}
html body footer {
  width: 100vw;
  height: 250px;
  background-color: #1F2833;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body footer span {
  font-size: 1.8em;
  margin-bottom: 1em;
}
html body footer ul {
  display: flex;
}
html body footer ul li {
  margin: 8px;
}
html body footer ul li a {
  padding: 0.5em;
  border-radius: 4px;
  background-color: #C5C6C7;
  align-items: center;
  justify-content: center;
  display: flex;
}
html body footer ul li a img {
  width: 25px;
}/*# sourceMappingURL=styles.css.map */