* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  color: #C5C6C7;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html h1 {
  font-size: 3em;
}
html h2 {
  font-size: 2em;
  color: #66FCF1;
  margin: 0 0 3em 0;
}
html h3 {
  font-size: 1.5em;
  color: #45A29E;
}
html a,
html p,
html span {
  font-size: 1.4em;
}
html button,
html input,
html textarea {
  font-size: 1.3em;
}
html ul {
  list-style-type: none;
}
html body {
  background-color: #0B0C10;
}
html body .grid {
  display: grid;
  grid-gap: 15px;
}
html body .oneColumn {
  grid-template-columns: 1fr;
}
html body .twoColumns {
  grid-template-columns: repeat(2, 1fr);
}
html body .threeColumns {
  grid-template-columns: repeat(3, 1fr);
}
html body header {
  display: flex;
  position: fixed;
  background-color: #1F2833;
  align-items: center;
  min-height: 50px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 8px;
  width: 98%;
  z-index: 1;
  left: 1%;
  top: 1%;
}
html body header nav {
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body header nav a {
  margin: 0.8em;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
}
html body header nav ul {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  justify-self: center;
}
html body header nav ul a {
  margin: 0 0.8em 0 0.8em;
  white-space: nowrap;
  padding: 0.7em 0.8em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
}
html body header nav ul a:hover {
  background-color: #0B0C10;
}
html body div {
  display: flex;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
}
html body .sectionContainer {
  width: 50%;
}
html body .sectionContainer div {
  width: 100%;
}
html body .sectionContainer .section {
  margin-bottom: 70px;
  padding-top: 80px;
}
html body .sectionContainer .title {
  margin-top: 80px;
  justify-content: space-between;
  align-items: flex-end;
}
html body .sectionContainer .title img {
  width: 300px;
  background-blend-mode: overlay;
  order: 1;
}
html body .sectionContainer .title h1 {
  margin-bottom: 1.5em;
}
html body .sectionContainer .abilities div .item, html body .sectionContainer .about div .item {
  height: 150px;
  border-radius: 5px;
  background-color: #1F2833;
  align-items: center;
  justify-content: center;
}
html body .sectionContainer .abilities div .item h3, html body .sectionContainer .about div .item h3 {
  margin: 0 2em;
}
html body .sectionContainer .about div .item img {
  fill: #45A29E;
  width: 40px;
  margin-bottom: 15px;
}
html body .sectionContainer .about span {
  font-size: 1.3em;
  margin-top: 0.5em;
}
html body .sectionContainer .about p {
  margin-top: 3em;
}
html body .sectionContainer .portfolio img {
  width: 100%;
  border-radius: 5px;
}
html body .sectionContainer .portfolio .item {
  padding: 5px 0 20px 10px;
}
html body .sectionContainer .portfolio .item h3 {
  margin: 0.5em 0 2em 0;
}
html body .sectionContainer .portfolio .item p {
  padding-right: 2.5em;
}
html body .sectionContainer .contact form {
  width: 100%;
}
html body .sectionContainer .contact form textarea, html body .sectionContainer .contact form input {
  background-color: #1F2833;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
html body .sectionContainer .contact form input {
  width: 96%;
  height: 35px;
}
html body .sectionContainer .contact form textarea {
  margin-top: 10px;
  resize: none;
  width: 98%;
  height: 200px;
}
html body .sectionContainer .contact form input:focus,
html body .sectionContainer .contact form textarea:focus,
html body .sectionContainer .contact form button:focus {
  outline: none;
}
html body .sectionContainer .contact form button {
  background-color: #45A29E;
  border: none;
  height: 40px;
  padding: 0 50px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}
html body footer {
  width: 100vw;
  height: 250px;
  background-color: #1F2833;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body footer span {
  font-size: 1.8em;
  margin-bottom: 1em;
}
html body footer ul {
  display: flex;
}
html body footer ul li {
  margin: 8px;
}
html body footer ul li a {
  padding: 0.5em;
  border-radius: 4px;
  background-color: #C5C6C7;
  align-items: center;
  justify-content: center;
  display: flex;
}
html body footer ul li a img {
  width: 25px;
}
@media screen and (max-width: 1350px) {
  html body .sectionContainer {
    width: 60%;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) {
  html body .sectionContainer {
    width: 80%;
  }
  html body .sectionContainer .abilities div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) and (max-width: 800px) {
  html body header nav {
    display: flex !important;
    justify-content: space-between;
  }
  html body header nav a {
    font-size: 1em;
  }
  html body .sectionContainer .portfolio div {
    grid-template-columns: 1fr;
  }
  html body .sectionContainer .portfolio div img {
    order: 1;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) and (max-width: 800px) and (max-width: 650px) {
  html body .sectionContainer .abilities div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) and (max-width: 800px) and (max-width: 650px) and (max-width: 500px) {
  html body .sectionContainer .title {
    display: block;
  }
  html body .sectionContainer .title img {
    width: 200px;
  }
  html body .sectionContainer .about div {
    grid-template-columns: 1fr;
  }
  html body .sectionContainer .contact form textarea {
    margin-top: 5px;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) and (max-width: 800px) and (max-width: 650px) and (max-width: 500px) and (max-width: 450px) {
  html body header nav a {
    font-size: 0.85em;
  }
  html body .sectionContainer .abilities div .item h3 {
    font-size: 1.2em;
  }
  html body .sectionContainer .contact button {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1350px) and (max-width: 1100px) and (max-width: 800px) and (max-width: 650px) and (max-width: 500px) and (max-width: 450px) and (max-width: 400px) {
  html body header nav a {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=styles.css.map */